{% extends "admin_base.html" %}
{% load static %}

{% block title %}Assessment List{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Assessment List</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Term</th>
                                <th>Total Amount</th>
                                <th>Date Generated</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assessment in assessments %}
                            <tr>
                                <td>{{ assessment.enrollment.student.last_name }}, {{ assessment.enrollment.student.first_name }}</td>
                                <td>{{ assessment.enrollment.term }}</td>
                                <td>{{ assessment.total_amount }}</td>
                                <td>{{ assessment.date_generated }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">No assessments found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
